    <div class='left-menu'>
        <ul class="action-menu">
            <li class="action"><span class="fas fa-home icon"></span> Feed</li>
            <li class="action"><span class="far fa-user icon"></span> Profile</li>
            <li class="action"><span class="fas fa-lock icon"></span> Vault</li>
            <li class="action"><span class="far fa-bookmark icon"></span> Favorites</li>
            <li class="action"><span class="far fa-sticky-note icon"></span> Drafts</li>
            <li class="action"><span class="fas fa-feather icon"></span> Compose</li>
        </ul>
    </div>
