<div id="reg-2" class="step">
    <div>
        <p style="text-align: right; font-size: 18px" id="step-counter">Step 2/3</p>
    </div>
    <h1>
        Verify your Email Address
    </h1>
    <div class="message">
        <p>You are almost there! </p>
        <p>We have sent an email with a secret code to verify your email address: {{ email }}.
            Go ahead and find that email, click on the link and you are done!</p>
        <p>Please note that it can take some time for the email to be delivered. If you don't get it in 15 minutes,
            <a href="#">click here to resend the email</a>.</p>
        <p>If you still don't get it, check your spam folder and see if it somehow ended up there.</p>
        <p>The link and the verification code is active for the next 2 hours, hurry!</p>
        <p>Enter the verification code: </p>
        <form>
            <div>
                <p>
                    <input type="text" name="code" placeholder="6 digit code" class="text boxed">
                </p>
                <button type="submit" class="std primary-btn small">Next</button>
            </div>
        </form>
    </div>
</div>