{% extends "logged_in_base.twig" %}

{% block title %} {{ title }} {% endblock %}
{% block head %}
    <link href="{{ server.css_assets }}/feed.css" rel="stylesheet">
{% endblock %}
{% block content %}

        <div class='page-content'>
            <div class="post-card">
                <div class="profile-image" style="background-image: url('{{ server.img_assets }}/test.jpg');"></div>
                <div class="post-text">
                    <div class="subject">Lorem ipsum dolor sit amet, consectetur adipiscing</div>
                    <div class="byline">
                        <div class="profile-meta"><b>Dedipyaman Das</b> (@twodee23)</div>
                    </div>
                    <div class="post-content">
                        <p style="margin-top: 5px">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <p>
                            Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat
                            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>
                <div class="post-action">
                    <span style="font-size: 14px" class="fas fa-ellipsis-v"></span>
                </div>
            </div>
            <div class="post-card">

            </div>
            <div class="post-card">

            </div>
        </div>

    <script src="{{ server.js_assets }}/axios.min.js"></script>
{% endblock %}
