{% extends "logged_in_base.twig" %}

{% block title %} {{ title }} {% endblock %}
{% block head %}
    <link href="{{ server.css_assets }}/feed.css" rel="stylesheet">
{% endblock %}
{% block content %}

    <div id="feed-root" class='page-content'>
            <div class="post-card">
                Loading
            </div>
        </div>

{% endblock %}
{% block costly_imports %}
    <script src="{{ server.js_assets }}/axios.min.js"></script>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="{{ server.js_assets }}/react-components/Feed.js" type="module"></script>
{% endblock %}