{% extends "logged_in_base.twig" %}

{% block title %} {{ title }} {% endblock %}
{% block head %}
    <link href="{{ server.css_assets }}/feed.css" rel="stylesheet">
{% endblock %}
{% block content %}

    <div id="feed-root" class='page-content'>
            <div class="post-card">
                <div class="skeleton-feed"></div>
            </div>
        </div>

{% endblock %}
{% block costly_imports %}
    <script src="{{ server.js_assets }}/axios.min.js"></script>
    <script src="{{ server.js_assets }}/react-components/feed-bundle.js"></script>
{% endblock %}