$primary-font-stack: Roboto, sans-serif;
$primary-color: #000;
$accent-color: rgba(207, 22, 113, 0.7);
$accent-hard: rgba(207, 6, 91, 0.84);
$focus-color: #3a4acf;
/* This CSS will print because %message-shared is extended. */
$gray-bg: #f0f1f3;

@mixin prefix($declarations, $prefixes: ()) {
  @each $property, $value in $declarations {
    @each $prefix in $prefixes {
      #{'-' + $prefix + '-' + $property}: $value;
    }

    // Output standard non-prefixed declaration
    #{$property}: $value;
  }
}

%accented-field {
  padding: 7px;
  min-width: 300px;
  //  border: 1px solid rgba(207, 22, 113, 0.7);
  color: #333333;
  font-size: 16px;
  background-color: $gray-bg;
}

#suggestions {
}

//$glow-color:
body {
  font: 100% $primary-font-stack;
  color: $primary-color;
  margin: 0 auto;
}

.search-box {
  outline: none;
  background-color: transparent;
  width: 280px;
  height: 23px;

  //box-shadow: 0 0 7px $accent-color;
}

.central-block {
  min-width: 700px;
}

#header {
  height: 55px;
  background-color: #fff;
  width: 100%;
  top: 0;
  margin: 0 auto;
  position: fixed;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.header-block {
  margin-top: 10px;
  min-width: 200px;
  display: inline-block;
}

#content {
  margin-top: 80px;
}

.search-box {
  //  @extend %accented-textfield;
  border: none;
}

.search-block {
  @extend %accented-field;
  border-radius: 20px;
  width: 340px;
}

.embed-icon {
  float: left;
  margin-left: 5px;
  margin-right: 10px;
  color: $accent-color;
  margin-top: 5px;
}

#suggestions {
  background-color: #fff;
  padding: 5px;
}

.stack-bg {
  color: #f2f3f5;
}

.fa-stack {
  font-size: 20px;
}

.fa-stack-1x {
  color: #333333;
  font-size: 18px;
}

.stack-ico {
  font-size: 24px;
  color: #000;
}

.suggest-list {
  list-style-type: none;
  cursor: pointer;
  padding: 10px;
}

#suggestions-ul {
  margin: 0;
  padding: 0;
}

.suggest-list:focus,
.suggest-list:hover {
  background-color: $focus-color;
  color: #fff;
  border-radius: 5px;
}

.action-menu {
  list-style-type: none;
  margin-top: 0;
  padding-top: 0;
}

.action-menu .action {
  padding: 12px 20px 12px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 20px;
  margin: 8px 0 8px 0;
  font-weight: 300;
  width: inherit;
  float: left;
  clear: both;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

.action-menu .action:hover {
  color: #cf065b;
  background-color: rgba(207, 22, 113, 0.075);
  @include transition(all 0.3s ease-in-out);
}

.composer {
  color: #f2f3f5;
  background-color: $accent-hard;
}

.action.active {
  color: $accent-hard;
  //background-color: rgba(207, 22, 113, 0.075);
  @include transition(all 0.3s ease-in-out);
}

.icon {
  margin-right: 15px;
  list-style-type: none;

  &.spaced {
    margin: 0 5px 0 5px;
  }

  &.not-far {
    margin-right: 0;
  }
}

.spacer {
  &.small {
    height: 10px;
  }

  &.medium {
    height: 15px;
  }

  &.large {
    height: 20px;
  }
}

.nav-icon {
  //margin: 0 20px 0 20px;
}

#suggestions {
  margin: 1px 10px 5px 10px;
  padding: 5px;
  width: 325px;
  border: 1px solid $gray-bg;
  border-radius: 10px;
  font-size: 15px;
  color: #333333;
  // font-family: Arial, sans-serif;
}

.page-wrapper {
  display: flex;
  margin: 5px;
  align-items: flex-start;
  //background-color: red;
}

.header-wrapper {
  display: inline-flex;
  margin: 10px;
}

.head-text {
  width: 304px;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  color: $accent-color;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.main-left {
  flex-grow: 1;
  margin-left: 40px;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.nav-menu {
  width: 300px;
}

.nav-icon {
  width: 45px;
  margin: 0 3px 0 3px;

  display: inline-block;
}

.overlay {
  position: fixed; /* Positioning and size */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* color */
}

.centered {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.dialog-content {
  margin: 15px 0 15px 0;

  .navigation {
    float: right;
    margin-top: 15px;
  }
}

.dialog-container {
  z-index: 10;
  width: 600px;
  max-width: 100%;
  min-height: 200px;
  position: fixed;
  background-color: #fff;
  border-radius: 12px;
  border-color: black;
  padding: 20px;

  .header {
    width: 100%;
    margin-bottom: 30px;

    hr {
      border: 0;
      height: 1px;
      background: #333 linear-gradient(to right, #ccc, #333, #ccc);
    }

    h1 {
      font-weight: 400;
      font-size: 24px;
      margin: 5px 0 10px 0;
    }
  }

  .dialog-subhead {
    margin: 5px 0 5px 0;
  }

  @include prefix(
                  (
                          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3),
                          background-clip: padding-box,
                  ),
                  webkit moz
  );

  .close-button {
    position: absolute;
    z-index: 1;
    top: 5px;
    right: 5px;
    border: 0;
    background: none;
    padding: 5px 10px;
    font-size: 1.3rem;

    &:focus {
      outline: 0 !important;
      -webkit-appearance: none !important;
    }

    .close-icon {
      fill: #333333;
      height: 24px;
      width: 24px;
      @include prefix(
                      (
                              transition: all 0.2s ease-in-out
                      ),
                      webkit moz
      );

      &:hover {
        fill: #cf065b;
        @include prefix(
                        (
                                transform: scale(1.2)
                        ),
                        webkit moz
        );
        cursor: pointer;
      }
    }
  }
}

button:focus {
  outline: 0 !important;
}

*:focus {
  outline: 0 !important;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 0;
  margin: 0;

  button {
    margin: 0;
  }

  input[type=file] {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
  }
}

.upload-meter {
  height: 10px; /* Can be anything */
  position: relative;
  background: #f0f0f0;
  @include prefix((
          border-radius: 60px
  ), webkit moz);
  width: 180px;
  margin: 10px auto;
}

.upload-meter > span {
  display: block;
  height: 100%;
  border-radius: 60px;
  background-color: #0085FD;
  position: relative;
  overflow: hidden;
  width: 0;
  @include prefix((transition: width 0.5s
  ), webkit moz);
}

.upload-btn {
  margin: 5px auto;
}

.upload-status {
  padding: 5px;
  font-size: 14px;
  color: #333333;
}