$primary-font-stack: Roboto, sans-serif;
$primary-color: #000;
$accent-color: rgba(207, 22, 113, 0.7);
$accent-hard: rgba(207, 6, 91, 0.84);
$focus-color: #3a4acf;
/* This CSS will print because %message-shared is extended. */
$gray-bg: #f0f1f3;
%accented-field {
  padding: 7px;
  min-width: 300px;
  //  border: 1px solid rgba(207, 22, 113, 0.7);
  color: #333333;
  font-size: 16px;
  background-color: $gray-bg;
}

#suggestions {
}

//$glow-color:
body {
  font: 100% $primary-font-stack;
  color: $primary-color;
  margin: 0 auto;
}

.search-box {
  outline: none;
  background-color: transparent;
  width: 280px;
  height: 23px;

  //box-shadow: 0 0 7px $accent-color;
}

.central-block {
  min-width: 700px;
}

#header {
  height: 55px;
  background-color: #fff;
  width: 100%;
  top: 0;
  margin: 0 auto;
  position: fixed;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
}


.header-block {
  margin-top: 10px;
  min-width: 200px;
  display: inline-block;
}

#content {
  margin-top: 80px;
}

.search-box {
  //  @extend %accented-textfield;
  border: none;
}

.search-block {
  @extend %accented-field;
  border-radius: 20px;
  width: 340px;
}

.embed-icon {
  float: left;
  margin-left: 5px;
  margin-right: 10px;
  color: $accent-color;
  margin-top: 5px;
}
#suggestions {
  background-color: #fff;
  padding: 5px;
}

.stack-bg {
  color: #F2F3F5;
}

.fa-stack {
  font-size: 20px;;
}

.fa-stack-1x {
  color: #333333;
  font-size: 18px;
}

.stack-ico {
  font-size: 24px;
  color: #000;
}
.suggest-list {
  list-style-type: none;
  cursor: pointer;
  padding: 10px;
}

#suggestions-ul {
  margin: 0;
  padding: 0;
}

.suggest-list:focus, .suggest-list:hover {
  background-color: $focus-color;
  color: #fff;
  border-radius: 5px;
}

.action-menu {
  list-style-type: none;
  margin-top: 0;
  padding-top: 0;
}

.action-menu .action {
  padding: 12px 20px 12px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 20px;
  margin: 8px 0 8px 0;
  font-weight: 300;
  width: inherit;
  float: left;
  clear: both;
}
@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

.action-menu .action:hover {
  color: #cf065b;
  background-color: rgba(207, 22, 113, 0.075);
  @include transition(all 0.3s ease-in-out);
}

.composer {
  color: #F2F3F5;
  background-color: $accent-hard;
}

.action.active {
  color: $accent-hard;
  //background-color: rgba(207, 22, 113, 0.075);
  @include transition(all 0.3s ease-in-out);
}

.icon {
  margin-right: 15px;
  list-style-type: none;
}


.nav-icon {
  //margin: 0 20px 0 20px;
}

#suggestions {
  display: none;
  margin: 5px 10px 5px 10px;
  padding: 5px;
  width: 325px;
  border: 1px solid $gray-bg;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
  color: #333333;
  // font-family: Arial, sans-serif;
}

.page-wrapper {
  display: flex;
  margin: 5px;
  align-items: flex-start;
  //background-color: red;
}

.header-wrapper {
  display: inline-flex;
  margin: 10px;

}

.head-text {
  width: 304px;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  color: $accent-color;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.main-left {
  flex-grow: 1;
  margin-left: 40px;
}

.main-center {
  //  overflow-y: auto;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.nav-menu {
  width: 300px;
}

.nav-icon {
  width: 45px;
  margin: 0 3px 0 3px;
  // background-color: rgba(0, 0, 0, 0.1);

  display: inline-block;
}