body {
    margin: 0 auto;
    font-family: Roboto, sans-serif;
}

.container {
    margin: 0 auto;
}

.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#footer {
    margin-top: 20px;
    padding: 10px;
    font-size: 14px;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}