
.std {
    width: 380px;
    margin: 0px 0 10px 0;
    height: 40px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.text {
    border: none;
    border-bottom: 2px solid rgba(207, 22, 113, 0.7);
    font-size: 18px;
}

.text:focus {
    border-bottom: 2px solid rgba(207, 22, 113, 1) !important;
}

button.std::-moz-focus-inner {
    border: 0;
}

:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

button.std {
    margin-top: 18px;
    border-radius: 20px;
    border: 0 solid;
    font-weight: bold;
    cursor: pointer;
}

.primary-btn {
    background-color: rgba(229, 25, 131, 0.7);
    color: azure;
}

.primary-btn:hover, .primary-btn:focus {
    background-color: #cf1671;

}

.secondary-btn {
    background-color: rgba(182, 182, 182, 0.69);
}

.secondary-btn:hover, .secondary-btn:focus {
    border: 1px solid #cf1671;
    color: #cf1671;
    background-color: white;
}

.error-box {
    color: #cf1671;
    display: none;
    padding: 8px;
    font-size: 13px;
    text-align: left;
}

.processor {
    display: none;
    text-align: center;
}