
.std {
    width: 380px;
    margin: 0 0 10px 0;
    height: 38px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.text {
    border: none;
    border-radius: 0;
    border-bottom: 2px solid rgba(207, 22, 113, 0.7);
    font-size: 18px;
}

.boxed {
    border: 1px solid rgba(153, 153, 148, 0.5);
    border-radius: 5px;
    padding: 7px;
}

.errored-input {
    border-bottom: 2px solid rgb(145, 12, 31) !important;
}
.text:focus {
    border-bottom: 2px solid rgba(207, 22, 113, 1) !important;
}

button.std::-moz-focus-inner {
    border: 0;
}

:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

button.std {
    margin-top: 18px;
    border-radius: 20px;
    border: 0 solid;
    font-weight: bold;
    cursor: pointer;
}

button.std.small {
    width: 100px !important;
    margin-top: 0 !important;
}

button.std.medium {
    width: 180px !important;
    height: 48px !important;
    margin-top: 0 !important;
    font-size: 16px;
}

.primary-btn {
    background-color: rgba(229, 25, 131, 0.7);
    color: azure;
}

.primary-btn:hover, .primary-btn:focus {
    background-color: #cf1671;
}

.secondary-btn {
    background-color: rgba(182, 182, 182, 0.69);
}

.secondary-btn:hover, .secondary-btn:focus {
    border: 1px solid #cf1671;
    color: #cf1671;
    background-color: white;
}

.error-box {
    color: rgb(145, 12, 31);
    font-size: 14px;
    text-align: left;
    margin-bottom: 10px;
}

.processor {
    display: none;
    text-align: center;
}

.loader {
    display: none;
}

#password-strength {
    display: none;
    height: 12px;
}

#password-strength-text {
    float: right;
    font-size: 12px;
}

meter {
    /* Reset the default appearance */
    -webkit-appearance: none;
    vertical-align: middle;
    -moz-appearance: none;
    appearance: none;
    border-radius: 5px;
    margin: 0 auto;
    width: 200px;
    height: 8px;

    /* Applicable only to Firefox */
    background: rgba(0, 0, 0, 0.1) none;
}

meter::-webkit-meter-bar {
    background: rgba(0, 0, 0, 0.1) none;
    border-radius: 5px;

}

/* Webkit based browsers */
meter[value="1"]::-webkit-meter-optimum-value {
    background: red;
}

meter[value="2"]::-webkit-meter-optimum-value {
    background: yellow;
}

meter[value="3"]::-webkit-meter-optimum-value {
    background: orange;
}

meter[value="4"]::-webkit-meter-optimum-value {
    background: green;
}

/* Gecko based browsers */
meter[value="1"]::-moz-meter-bar {
    background: red;
}

meter[value="2"]::-moz-meter-bar {
    background: yellow;
}

meter[value="3"]::-moz-meter-bar {
    background: orange;
}

meter[value="4"]::-moz-meter-bar {
    background: green;
}