body {
    margin: 0 auto;
    font-family: Roboto, sans-serif;
}

#left {
    font-family: 'Lato', sans-serif;
    background-color: #cf1671;
    flex: 1;
    color: azure;
    flex-wrap: wrap;
    align-items: stretch;
    height: 600px;
}

.main-container {
    display: -webkit-flex;
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 100%;

    align-items: center;

}

.box {
    -webkit-flex: 1; /* Safari 6.1+ */
    -ms-flex: 1; /* IE 10 */
    flex: 1;
}

#welcome-msg {
    text-align: center;
}

#welcome-msg h1 {
    font-size: 36px;
}

.info {
    margin: 120px;

}

#right {
    display: inline-block;
    background-color: #ffffff;
    width: 40%;
}

.action-box {
    text-align: center;
    width: 400px;
    margin: 0 auto;
}

.card {
    margin: 10px;

    text-align: center;
}

.action-box h2 {
    font-weight: 300;
}

.login-container {
    width: 400px;
}

.login-container {
    margin: 20px 0 20px 0;
    border-bottom: 1px solid rgba(141, 139, 147, 0.40);
    padding-bottom: 30px;
}

.login-btn {
    background-color: rgba(229, 25, 131, 0.7);
    color: azure;
}

.login-btn:hover, .login-btn:focus {
    background-color: #cf1671;

}

.registration-btn {
    background-color: rgba(182, 182, 182, 0.69);
}

.registration-btn:hover, .registration-btn:focus {
    border: 1px solid #cf1671;
    color: #cf1671;
    background-color: white;
}

#error-box {
    color: #cf1671;
    display: none;
    padding: 8px;
    font-size: 14px;
}

#processor {
    display: none;
}

.card-container {
}