.container {
    width: 640px;
    margin-top: 60px;
}

.step {
    margin: 0 auto;

}

#reg-1 {
    width: 420px;
}

#reg-2 {
    width: 640px;
}
.info {
    font-size: 13px;
}

h1 {
    font-weight: 300;
}

.std {
    width: 420px !important;
    border-bottom-color: rgba(182, 182, 182, 0.69) !important;
}

.tooltip {
    color: #cf1671;
    font-size: 12px;
}