{% extends "base.twig" %}

{% block title %} Home - Skletter {% endblock %}
{% block head %}
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link href="{{ server.css_assets }}/home.css" rel="stylesheet">
    <style>
        body {
            background: url("{{ server.img_assets }}/bg2.jpg") no-repeat;
            background-size: cover;
        }

    </style>
{% endblock %}
{% block content %}
    <div class="main-container">
        <div class="left-block">
            <div class="welcome-msg">
                <h1 class="bold-head" style="color: #ffa13c;">
                    <span class="highlighted">SKLETTER</span>
                </h1>
                <h2 class="bold-head"><span class="highlighted">
                        WRITE LETTERS TO <span style="color:#3dc7ff;">YOURSELF.</span></span>
                </h2>
                <h2 class="bold-head"><span class="highlighted">
                        AND THE <span style="color:#d970ff;">WORLD.</span></span>
                </h2>

            </div>
            <div class="home-description">
                <p><span class="highlighted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span></p>
                <p><span class="highlighted"> ed condimentum risus pulvinar risus finibus, ut pharetra ante commodo. Vivamus ac ex nec lorem dignissim viverra.</span><br><span
                            class="highlighted">Etiam porta elit et condimentum mattis. Nam hendrerit libero enim, nec rutrum orci fringilla ut. Ut luctus congue bibendum.</span><br><span
                            class="highlighted">
                    Suspendisse vitae tortor lacus. </span></p>
            </div>
        </div>
        <div class="right-block">
            <div class="login-container">
                <form method="post" action="{{ server.base_url }}/login">
                    <input name="identity" placeholder="Email or Username" type="text" class="std-text">
                    <input name="password" placeholder="Password" type="text" class="std-text">
                    <button class="login"> Login</button>
                </form>
                <button> Sign up</button>
            </div>
        </div>
    </div>

{% endblock %}