<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {{ include('base_includes.twig') }}
    <script src="https://kit.fontawesome.com/7bd7bcf156.js" crossorigin="anonymous"></script>
    <link href="{{ server.css_assets }}/web-platform.css" rel="stylesheet">
    <script>
        var onFocus = -1;

        function scrollList() {
            var list = document.getElementById('suggestions-ul'); // targets the <ul>
            var first = list.firstChild; // targets the first <li>
            var maininput = document.getElementById('search-box');  // targets the input, which triggers the functions populating the list
            document.onkeydown = function (e) { // listen to keyboard events
                switch (e.key) {
                    case 38: // if the UP key is pressed
                        if (document.activeElement == (maininput || first)) {
                            break;
                        } // stop the script if the focus is on the input or first element
                        else {
                            document.activeElement.parentNode.previousSibling.firstChild.focus();
                        } // select the element before the current, and focus it
                        break;
                    case 40: // if the DOWN key is pressed
                        if (document.activeElement == maininput) {
                            first.firstChild.focus();
                        } // if the currently focused element is the main input --> focus the first <li>
                        else {
                            document.activeElement.parentNode.nextSibling.firstChild.focus();
                        } // target the currently focused element -> <a>, go up a node -> <li>, select the next node, go down a node and focus it
                        break;
                }
            }
        }

        function checkKey(e) {
            if (e.key == '40') {
                document.getElementById("suggest-" + 0).focus();
                onFocus = 0;
            }

        }

        function moveFocus(e, i) {
            if (e.key == '40') {
                document.getElementById("suggest-" + i + 1).focus();
                onFocus = i;
            } else if (e.key == '38') {
                document.getElementById("suggest-" + i - 1).focus();
                onFocus = i;
            }
        }

        function showResult(str) {
            if (str.length == 0) {
                document.getElementById("suggestions").innerHTML = "";
                document.getElementById("suggestions").style.border = "0px";
                return;
            }
            if (window.XMLHttpRequest) {
                // code for IE7+, Firefox, Chrome, Opera, Safari
                xmlhttp = new XMLHttpRequest();
            } else {  // code for IE6, IE5
                xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
            }
            xmlhttp.onreadystatechange = function () {

                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("main-search").onkeydown = checkKey;
                    var result = JSON.parse(this.responseText);
                    var suggestion = "<ul id='suggestions-ul'>";
                    var i = 0;
                    for (var k in result) {
                        data = (result[k]);
                        //var data =  JSON.parse((JSON.parse(result[k]).user).data)
                        //console.log(JSON.parse(user.data));
                        //console.log(JSON.parse((result[k]).user).data.name);
                        var answer = (data.user.data.name);
                        var find = str;
                        var re = new RegExp(find, 'ig');

                        //var bolded = answer.replace(re, '<b>' + find + '</b>');
                        //var bolded= replaceAllanswer.replace(str/g, "<b>" + str + "</b>")
                        //console.log(bolded)
                        suggestion += "<li tabindex='" + i + "' onkeydown='moveFocus(e," + i + ")' class='suggest-list' id='suggest-" + i + "' >" + answer + "</li>";
                        i++;
                    }

                    //console.log(result.user)
                    //    console.log(result)

                    document.getElementById("suggestions").innerHTML = suggestion + "</ul>";
                    scrollList();
                    document.getElementById("suggestions").style.border = "1px solid #A5ACB2";
                }
            }
            xmlhttp.open("GET", "search?q=" + str, true);
            xmlhttp.send();
        }
    </script>
    {% block head %}
    {% endblock %}
</head>
<body>
<div id="header">
    <div class="header-block head-text">
    </div>
    <div class="header-block">
        <div class="search-block">
            <input type="text" onkeyup="showResult(this.value)" id="main-search" class="search-box"
                   placeholder="Search stories, topics, users...">
        </div>
        <div id="suggestions"></div>
    </div>
    <div class="header-block">
        <li class="fas "></li>
        Settings
        Notifications
    </div>
</div>

<div id="content">
    <div id="main-container" class="container">

        <div class='page-wrapper'>
            <div class='row'>
                {{ include('pieces/action_menu.twig') }}
                {% block content %}{% endblock %}
                <div class='column'>
                    <div class='right-block'>
                        <div class="row">
                            {% block footer %}
                                &copy; Skletter.
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
